<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        {% load static %}
        <script src="{% static 'orders/app.js' %}" charset="utf-8"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'orders/style.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div class="topBar">
            <div class="left">
                <a href="{% url 'index' %}"><img src="{% static 'orders/pizza.png' %}" alt="logo" class="logoPic"></a>
            </div>
            <div class="right">
                <div class="right1">
                    {% if user.is_superuser  %}
                    <a href="{% url 'orderManager' %}">Orders Manager </a>
                    {% elif not user.is_superuser %}
                    <a href="{% url 'orderViewer' %}">Your Order </a>
                    {% endif %}
                </div>
                <div class="right2">
                    <a href="{% url 'logoutPage' %}">Logout</a>
                </div>
            </div>
        </div>
        {% if message %}
            <div class="alert alert-success" role="alert">
                {{message}}
            </div>
        {% endif %}
        <div class="container-fluid">
            {% if category %}
                <div class="menuCategoryList">
                    <h4>Category:</h4>
                    {% for item in categoryList %}
                    <p><a href="{% url 'menu' item.name %}">{{item.name}}</a></p>
                    {% endfor %}
                </div>
            {% endif %}
            {% block body %}{% endblock %}
            {% if category %}
                <div class="orderList">
                    <h4>Your cart:</h4>
                    {% for i in userCart %}
                        <p>{{i.category}} | {{i.item}} | {{i.price}} - <button type="button" onclick="popUpC('{{i.category}}', '{{i.item}}','{{i.price}}')">X</button></p>
                    {% endfor %}
                    {% if not total %}
                        <p>Nothing in cart.</p>
                        <p class="priceClass">Total: 0.00</p>
                    {% else %}
                        <p class="priceClass">Total: {{total|floatformat:2}}</p>
                        <div class="doneOrdering">
                            <button type="button" onclick="popUpB({{userCart}},{{total}})" name="button">Confirm Order</button>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </body>
</html>
